<div class="container">
  <br><br>
  <h3 style="  text-decoration: underline;">List of residents:</h3>
  <br>
  <div class="row">
    <div *ngFor="let resident of residents" class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="card-body col-sm-6">
            <h5 class="card-title">{{ resident.Name }}</h5>
            <p>Age: {{ resident.Age }}</p>
            <p>City: {{ resident.City }}</p>
            <p>Address: {{ resident.address }}</p>
            <p>Start Year: {{ resident.startYear }}</p>
            <p>Status: {{ resident.Status }}</p>
            <br>
            <a [routerLink]="['/residents', resident.Id]"  class="btn btn-primary"  >Edit Details </a>
          </div>
          <div class="card" style="width: 18rem;">
            <img style="border-radius: 32px; margin-top: 50px;" [src]="resident.Img"  alt="Profile picture"  class="card-img-top"  />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>