
  


<div class="text-center d-flex flex-column" style="display: inline-block">
  <div>
    <h1 class="title" >Oranit is the best place to live</h1>
    
    <p class="lead" style="width: 50%; margin: auto">
      Oranit is a community in the status of a local council, located in the 
      southwestern foothills of the Samaria Mountains, south of the Nahal Kana channel.
      Oranit borders the Horshim Forest to the west, Kfar Qassem to the southwest,
      Azzun Atma to the east and Abu Salman to the northeast. Oranit is located on 
      the border of the Green Line, northeast of Rosh HaAyin.
      In the 2018 local elections, Nir Bartel was elected head of the Oranit council.
      *form wikipedia*
    </p>
   
    <img class="imgs" src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Ornit_1.JPG" 
    />
  </div>
</div>



