.imgs{
    width:800px ;
    height: 550px;
    border-radius: 100px;
    margin-top: 100px;
    margin-bottom: 100px;

    @media screen and(max-width : 400px) {
        width:90% ;
        height: 100%;
    }
}

.title{
                 color: rgb(61, 170, 149);
                 text-shadow: 0 0 5px #e1fbf5, 0 0 10px  #62c7ec, 0 0 30px #73d4ec,  0 0 55px  #a1e48d, 0 0 75px #dd28ce;
                 margin-top: 15px;
                 font-family:  fantasy;
                 font-size:100px;
                 margin: 50px;
                 @media screen and(max-width : 400px) {
                    font-size: 40px;
                }
}